// Base styles
// --------------------------------------------------

.button,
input.button, // Foundation specificity
button.button {
    @include button();
    padding: 6px 12px;
    font-family: $font-sans;
    font-weight: normal !important;
}

.button small {
    font-size: 75%;
}

// Button Sizes
// --------------------------------------------------

// Large
.button.large {
    padding: $paddingLarge;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: $fontSizeLarge;
    @include border-radius($borderRadiusLarge);
}

.button.large [class^="icon-"],
.button.large [class*=" icon-"] {
    margin-top: 4px;
}

// Small
.button.small {
    padding: $paddingSmall;
    font-size: $fontSizeSmall;
    @include border-radius($borderRadiusSmall);
}

.button.small [class^="icon-"],
.button.small [class*=" icon-"] {
    margin-top: 0;
}

.button.mini [class^="icon-"],
.button.mini [class*=" icon-"] {
    margin-top: -1px;
}

// Mini
.button.mini {
    padding: $paddingMini;
    font-size: $fontSizeMini;
    @include border-radius($borderRadiusSmall);
}


// Block button
// -------------------------

.button-block {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      @include box-sizing(border-box);
}

// Vertically space out multiple block buttons
.button-block + .button-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button-block {
        width: 100%;
    }
}



// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.button.secondary.active,
.button.warning.active,
.button.alert.active,
.button.success.active,
.button.info.active,
.button.inverse.active {
    color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.button.secondary {
    @include buttonBackground($buttonSecondaryBackground, $buttonSecondaryBackgroundHighlight);
}

// Warning appears are orange
.button.warning {
    @include buttonBackground($buttonWarningBackground, $buttonWarningBackgroundHighlight);
}

// Danger and error appear as red
.button.alert {
    @include buttonBackground($buttonAlertBackground, $buttonAlertBackgroundHighlight);
}

// Success appears as green
.button.success {
    @include buttonBackground($buttonSuccessBackground, $buttonSuccessBackgroundHighlight);
}

// Info appears as a neutral blue
.button.info {
    @include buttonBackground($buttonInfoBackground, $buttonInfoBackgroundHighlight);
}

// Inverse appears as dark gray
.button.inverse {
    @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.button-link,
.button-link:active,
.button-link[disabled] {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.button-link {
    border-color: transparent;
    cursor: pointer;
    color: $linkColor;
    @include border-radius(0);
}

.button-link:hover,
.button-link:focus {
    color: $linkColorHover;
    text-decoration: underline;
    background-color: transparent;
}

.button-link[disabled]:hover,
.button-link[disabled]:focus {
    color: $grayDark;
    text-decoration: none;
}