.footer {
    width: 100%;
    background: $grayDarker;
    bottom: 0;
    padding: 1em 0;
    position: relative;
    z-index: 5;
    color: $grayLight;

        ul {
            list-style-type:none;
        }

        a {
            color: $grayLight;
            text-decoration: none;

            &:hover{
                color: $primary_color;
                text-decoration: underline;
            }
        }

        h4 {
            color: $grayLight;
        }
}
