.lbox-no-list {
    list-style-type: none;
    display: block;

    li {
        float: left;
        padding-right:5px;
        display: list-item;
        text-align: -webkit-match-parent;
    }
}

// Foundation overrides

.clearing-blackout {

    @include breakpoint(48em, $no-query: true) {
        top: 0;
    }
}

.clearing-close {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}