// Image to lists
// -----------------------

.image-to-list {
    a {
        color: #2ba6cb;
        text-decoration: underline;

        span {
            background: none;
            margin-top: 0;

            @include breakpoint($image-to-list-small-min-width, $no-query: true) {
                background: rgba(0, 0, 0, 0.7);
                display: block;
                padding: 7px;
                position: relative;
                margin-top:  -39px;
            }
        }

        @include breakpoint($image-to-list-small-min-width, $no-query: true) {
            color: #efefef;
            display: block;
            text-decoration: none;

            iframe {
                height: 100%;
            }
        }
    }

    a img,
    .image-to-list .has-video iframe {
        display: none;
        speak: none;

        @include breakpoint($image-to-list-small-min-width, $no-query: true) {
            display: block;
            speak: normal;
        }
    }

    @include breakpoint($image-to-list-small-min-width, $no-query: true) {
        li {
            float: none;

            &[class*="large-"]:last-child,
            &[class*="small-"]:last-child {
                float: left; // Foundation override
            }
        }

        li

        .video-container .has-video a {
            display: none !important;
        }
    }
}
