@media print {
    // Hide navigation and banner
    nav,
    .site-bar,
    .pull-down-container {
        display: none !important;
        visibility: hidden !important;
    }

    .mobile-functions * {
        // These borders appear even at desktop size
        border: none !important;
    }

    // Make alerts more legible
    .alert-box {
        text-shadow: none !important;
    }

    // Foundation override: hide the URL for certain links
    a.close,
    .pagination a {
        &:after {
            content: "";
        }
    }
}