@media print {
    // Make the site title more prominent
    .site-bar a.site-logo {
        font-size: 2.5em;
        margin-left: 0;
    }

    .alert-box {
        text-shadow: none !important;
    }

    // Foundation override: hide the URL for certain links
    .site-bar a.site-logo,
    a.close,
    .pagination a {
        &:after {
            content: "";
        }
    }

    .mobile-functions * {
        // These borders appear even at desktop size
        border: none !important;
    }

    nav {
        display: none !important;
        visibility: hidden !important;
    }
}