// Skip navigation items
.skip-to {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px;
    background: $black;
    border: 1px solid $primary-color;
    @include border-radius(3px);
    clip: rect(0, 0, 0, 0);
    font-size: 1.4em;

    &:focus {
        clip: auto;
        outline: 1px solid $primary-color;
        z-index: 100;
    }
}

// Body Styles
body {
    background: $bodyColor;
}

.header {
    @include gradient-vertical($headerPrimaryColor, $headerSecondayColor);
    height: $headerHeight;
    position: relative;

    a {
        color: $headerTextColor;
        font-size: $headerTextSize;
        text-decoration: none;
    }

    .site-title {
        position: absolute;
        top: 50%;
        margin-top: -($headerTextSize / 2); // Center text reguardless of sitebar size
        max-width: 62.5em;
    }
}

.main {
    background: $bodyBackground;

    p, a {
        font-size: 1.2em;
    }
}

.footer {
    background: $footerBackgroundColor;
    color: $footeTextColor;

    h2, h3, h4, h5, h6 {
        color: $footeTextColor;
    }
}