// Off-screen
.hide-off-screen {
    display: block !important;
    position: absolute !important;
    left: -9999em !important;
    top: -9999em !important;
}

// Touch-enabled device targeting
.show-for-no-touch {
    display: inherit !important;

    @include enhance-with(touch) {
        display: none !important;
    }
}

.show-for-no-touch li,
li.show-for-no-touch {
    display: list-item !important;

    @include enhance-with(touch) {
        display: none !important;
    }
}

.hide-for-no-touch {
    display: none !important;

    @include enhance-with(touch) {
        display: inherit !important;
    }
}

.hide-for-no-touch li,
li.hide-for-no-touch {
    display: none !important;

    @include enhance-with(touch) {
        display: list-item !important;
    }
}

// Monitor sizes
// Only one of the following will be present and it is not affected by resizing or orientation change

// Up to and including 480px
.show-for-screen-max-mini {
    display: none !important;

    @include enhance-with(screen-max-tiny) {
        display: inherit !important;
    }
}

.show-for-screen-max-mini li,
li.show-for-screen-max-mini {
    @include enhance-with(screen-max-tiny) {
        display: list-item !important;
    }
}

.hide-for-screen-max-mini {
    display: inherit !important;

    @include enhance-with(screen-max-tiny) {
        display: none !important;
    }
}

.hide-for-screen-max-mini li,
li.hide-for-screen-max-mini {
    @include enhance-with(screen-max-tiny) {
        display: list-item !important;
    }
}

// Up to 767px (only `small-` classes will apply)
.show-for-screen-max-medium {
    display: none !important;

    @include enhance-with(screen-max-small) {
        display: inherit !important;
    }
}

.show-for-screen-max-medium li,
li.show-for-screen-max-medium {
    @include enhance-with(screen-max-small) {
        display: list-item !important;
    }
}

.hide-for-screen-max-medium {
    display: inherit !important;

    @include enhance-with(screen-max-small) {
        display: none !important;
    }
}

.hide-for-screen-max-medium li,
li.hide-for-screen-max-medium {
    @include enhance-with(screen-max-small) {
        display: list-item !important;
    }
}

// 768px and higher (can show effects of both `small-` and `large-` classes)
.show-for-screen-max-large {
    display: none !important;

    @include enhance-with(screen-max-large) {
        display: inherit !important;
    }
}

.show-for-screen-max-large li,
li.show-for-screen-max-large {
    @include enhance-with(screen-max-large) {
        display: list-item !important;
    }
}

.hide-for-screen-max-large {
    display: inherit !important;

    @include enhance-with(screen-max-large) {
        display: none !important;
    }
}

.hide-for-screen-max-large li,
li.hide-for-screen-max-large {
    display: list-item !important;
}


// IE classes
.show-for-lt-ie9 {
    display: none !important;

    @include enhance-with(lt-ie9) {
        display: inherit !important;
    }
}

.show-for-lt-ie9 li,
li.show-for-lt-ie9 {
    @include enhance-with(lt-ie9) {
        display: list-item !important;
    }
}

.show-for-ie9 {
    display: none !important;

    @include enhance-with(ie9) {
        display: inherit !important;
    }
}

.show-for-ie9 li,
li.show-for-ie9 {
    @include enhance-with(ie9) {
        display: list-item !important;
    }
}

.hide-for-lt-ie9 {
    display: inherit !important;

    @include enhance-with(ie9) {
        display: none !important;
    }
}

.show-for-oldie {
    display: none !important;

    @include enhance-with(oldie) {
        display: inherit !important;
    }
}

.show-for-oldie li,
li.show-for-oldie {
    @include enhance-with(oldie) {
        display: list-item !important;
    }
}

.hide-for-oldie {
    display: inherit !important;

    @include enhance-with(oldie) {
        display: none !important;
    }
}
