<!DOCTYPE html>
<html>
	<head>
		<title> Standard Template </title>

		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="../css/excelsior.css">

		<!-- Header Scripts -->
		<script src="../js/vendor/custom.modernizr.min.js"></script>

	</head>
	<body>

		<header role="header" class="header">
			<a class="site-title" href="#">
				Site Title/Logo Area
			</a>
		</header>

		<div role="main" class="main">
			<p>
				Standard Content Area.
			</p>
		</div>

		<footer role="footer" class="footer">
			<p>
				Footer Contents
			</p>
		</footer>

		<!-- Scripts -->
		<script src="../js/core/excelsior.js"></script>
	</body>
</html>